<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>What Would You Like To Change?</h1>
        <form method = "post" action = "/missingpeople/<%=missingPerson.id%>?_method=PUT">
	        <input type="text" value="<%=missingPerson.Name%>">
	        <input type="text" value="%=missingPerson.dateMissing%>">
	        <input type="text" value="%=missingPerson.location%>">
	        <input type="text" value="%=missingPerson.posessions%>">
	        <input type="text" value="%=missingPerson.gender%>">
	        <input type="text" value="%=missingPerson.famousFor%>">
	        <input type="text" value="%=missingPerson.disappearanceContext%>">
	        <input type="text" value="%=missingPerson.ageAtDisappearance%>">
	        <input type="submit" name="Submit Changes">
	    </form> 
    </body>
</html>