<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Fruits index page</h1>
        <ul> 
          <% for(let i = 0; i < missingpeople.length; i++){%>
            <li><a href="/missingpeople/<%=missingpeople[i].id%>"> <%=missingpeople[i].Name%> </a></li> 
            <%}%>
            <br>
            <a href="/missingpeople/new"> identify new famous people that have disappeared </a> 
    </body>
</html>
