<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1>Would you like to add someone to the missing listh?</h1>
        <form method = "POST" action = "/missingpeople/">
	        <input type="text" placeholder="Name" name="Name">
	        <input type="text" placeholder="When Did They Go Missing?" name="dateMissing">
	        <input type="text" placeholder="Where Did They Go Missing" name="location">
	        <input type="text" placeholder="What Did They Have With Them?" name="posessions">
	        <input type="text" placeholder="What Was Tehir Gender?" name="gender">
	        <input type="text" placeholder="Why Were They Famous?" name="famousFor">
	        <input type="text" placeholder="Circumstances Of Their Disappearance?" name = "disappearanceContext">
	        <input type="text" placeholder="How Old Were Tehy When They Went Missing?" name="ageAtDisappearance">
	        <input type="submit" name="Submit">
	    </form> 
    </body>
</html>