<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <h1><%=missingPerson.Name%></h1>
        <form>
        <input type="button" value="Edit" onclick="window.location.href='/missingpeople/<%=missingPerson.id%>/edit' " />
        </form>
    </body>
</html>
